/* header */
.search-field {
  color: black !important;
  border: none !important;
}

.search-form {
  color: black !important;
  width: 100%;
  border-radius: 3px;
}

.search-button {
  color: black !important;
  border: none !important;
}

.search-icon {
  width: 25px;
  height: 25px;
}
/* header ENDS */

/* navigation bar */
.custom-tabs {
  border: none !important;
}
.custom-navbar .nav-link {
  color: #3b3939 !important;
  border: none !important;
}

.custom-navbar .nav-tabs {
  background-color: white;
}

.custom-navbar .nav-link:hover {
  background-color: transparent !important;
  color: #962d92 !important;
  border: none !important;
  border-bottom: 2px solid !important;
}
/* navigation bar ENDS */

.top-bar {
  background-color: white;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #e6ebee;
}

/* product card */
.product-card {
  height: 100% !important;
  border: 1px solid #e6ebee !important;
}
.product-footer {
  border-color: #e9eaf1 !important;
  background-color: transparent !important;
}

.addCartButton {
  padding: 4px;
  background-color: #eeeff8;
  color: #0065a9;
}

.cart-icon {
  width: 25px;
  height: 25px;
}
/* product card ENDS */

/* left card */
.left-card {
  background-color: white;
  padding: 15px;
  border: 1px solid #e6ebee;
}

.left-card-title {
  border-bottom: 1px solid #d9dae2;
  padding-bottom: 10px;
  font-weight: bold;
}

.left-card-body {
  padding-top: 10px;
}
/* left card ENDS */
