/* header */
.search-field {
  color: black !important;
  border: none !important;
  min-height: 40px;
}

.search-form .form-control:hover {
  border-color: transparent !important;
  box-shadow: none !important;
}

.search-form .form-control {
  border-color: transparent !important;
  box-shadow: none !important;
}

.search-form {
  color: black !important;
  /* width: 80%; */
  border-radius: 3px;
  min-width: 600px;
  align-items: center;
}

.search-button {
  color: black !important;
  border: none !important;
}

.search-icon {
  width: 20px;
  height: 20px;
}
.profile-title {
  color: white;
}
.inner-div {
  margin: 0px !important;
  padding: 0px !important;
}
.cart-count {
  position: relative;
  top: -10px;
  right: 10px;
  width: 5px;
  height: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 7px 2px 7px;
  font-size: 15px;
}
/* header ENDS */

/* navigation bar */
.custom-tabs {
  border: none !important;
  min-height: 42px;
}
.custom-navbar .nav-link {
  color: #3b3939 !important;
  border: none !important;
}

.custom-navbar .nav-tabs {
  background-color: white;
}

.custom-navbar .nav-link:hover {
  background-color: transparent !important;
  color: #962d92 !important;
  border: none !important;
  border-bottom: 2px solid !important;
}

.custom-tabs .active {
  background-color: transparent !important;
  color: #962d92 !important;
  border: none !important;
  border-bottom: 2px solid !important;
}

/* navigation bar ENDS */

.top-bar {
  background-color: white;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #e6ebee;
}
/* product card */
.product-card {
  height: 100% !important;
  border: 1px solid #e6ebee !important;
}
.product-card:hover {
  transform: scale(1.01) !important;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(156, 148, 148, 0.5);
}
.product-card-header {
  background-color: transparent !important;
  border: none !important;
}
.product-footer {
  border-color: #e9eaf1 !important;
  background-color: transparent !important;
}

.addCartButton {
  padding: 4px;
  background-color: #eeeff8;
  color: #0065a9;
}

.cart-icon {
  width: 25px;
  height: 25px;
}
/* product card ENDS */

/* left card */
.left-card {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #e6ebee;
}
.toggle-button {
  background-color: transparent;
  border: none;
}

.left-card-body {
  padding-top: 10px;
}
.group-form {
  padding-top: 10px;
  border-top: 1px solid #d9dae2;
}
/* left card ENDS */

.default-btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ebdede;
  border-radius: 0.25rem;
  background: transparent;
  opacity: 50%;
}
.default-btn:hover {
  border: 1px solid #efae71;
  background-color: rgb(246, 244, 241);
  opacity: 100%;
}

.active-btn {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #d57e1a;
  /* padding: 0.375rem 0.75rem; */
  border-radius: 0.25rem;
  background: transparent;
}
.active-btn:hover {
  border: 2px solid #efae71;
  background-color: rgb(246, 244, 241);
}
.view-icon {
  border: 0;
  width: 35px;
  height: 35px;
  padding: 0px;
}
.add-icon-size {
  width: 1.2rem;
}

.logo-size {
  width: 50px;
}

.under-dev {
  direction: rtl;
  text-align: right;
}
